{% extends 'base.html' %}

{% block style %}
  <style type="text/css">

    .row {
        padding: 40px 150px 30px 150px;
    }
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }

    .thumbnail img {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block main_section %}

    <div class="container-fluid text-center bg-grey">
      <h1>Categories</h1>
      <h3>What we make</h3>

      {% for category in categories %}
        {% if forloop.counter0|divisibleby:3 %}
          <div class="row text-center">
        {% endif %}
          <div class="col-md-4 ">
            <div class="thumbnail">
              <img src="{{ category.thumbnail }}">
              <h3><strong>{{ category.name }}</strong></h3>
              <h4>{{ category.description }}</h4>
            </div>
          </div>

        {% if forloop.counter|divisibleby:3 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}
